#useDynLib(AgiMicroRna)

.onLoad <- function(lib, pkg) require(methods)
 exportPattern("^[^\\.]")


importClassesFrom(Biobase, eSet, ExpressionSet,VersionedBiobase, Versioned)
exportClasses("uRNAList")
exportMethods("show")

S3method("[",uRNAList)
S3method(dim, uRNAList)
S3method(dimnames,uRNAList)
S3method(length,uRNAList)
S3method("dimnames<-",uRNAList)
S3method(summary,uRNAList)


export(readMicroRnaAFE,
	readTargets,
	qcPlots,
	boxplotMicroRna,
	plotDensityMicroRna,
	RleMicroRna,
	mvaMicroRna,
	mvaBASIC,
	hierclusMicroRna,
	HeatMapMicroRna,
	PCAplotMicroRna,
	cvArray,
	tgsMicroRna,
	tgsNormalization,
	rmaMicroRna,
	filterMicroRna,
	esetMicroRna,
	writeEset,
	basicLimma,
	getDecideTests,
	pvalHistogram,
	significantMicroRna)
